### 1번문제

In [10]:
text = """
오늘 아침부터 저는 자바공부를 열심히 하고있습니다.
자바는 재미있습니다.
"""

In [11]:
text = text.replace("자바","파이썬")

In [12]:
print(text)

오늘 아침부터 저는 파이썬공부를 열심히 하고있습니다.
파이썬는 재미있습니다.

### 2번문제

In [14]:
name = input("이름을 입력하세요")
math = int(input("수학점수를 입력하세요"))
english = int(input("영어점수를 입력하세요"))

score = {
    'name': name,
    'math': math,
    'english': english
}

print(score)

이름을 입력하세요이진범
수학점수를 입력하세요80
영어점수를 입력하세요40
{'name': '이진범', 'math': 80, 'english': 40}

### 3번문제

In [17]:
x = {"name":"이진범", "math":40, "english":60}
x['math'] = 80
x

{'name': '이진범', 'math': 80, 'english': 60}

### 4번문제

In [23]:
number_cnt = 0
number_sum = 0

for i in range(5):
    x = int(input("입력해주세요:"))
    number_cnt += 1
    number_sum += x
    
print('합계:',number_sum,' 평균:',number_sum/number_cnt)

입력해주세요:1
입력해주세요:2
입력해주세요:3
입력해주세요:4
입력해주세요:5
합계: 15  평균: 3.0

### 5번문제

In [27]:
number = []

for i in range(5):
    x = input("값을 입력해주세요")
    number.append(x)
print(number)

값을 입력해주세요1
값을 입력해주세요2
값을 입력해주세요3
값을 입력해주세요4
값을 입력해주세요5
['1', '2', '3', '4', '5']

### 6번문제

In [33]:
x = [2, 5, 7, 5, 8, 3, 6, 7, 3, 3, 7, 8, 9, 10, 2]

for value in x:
    #print(value)
    if value == 3:
        print('3입니다')
    elif value == 7:
        print('7입니다.')
    else:
        print(value)

2
5
7입니다.
5
8
3입니다
6
7입니다.
3입니다
3입니다
7입니다.
8
9
10
2

### 7번문제

In [46]:
x = [2, 5, 7, 5, 8, 3, 4, 5, 7]

for idx in range(len(x)):
    
#     if x[idx] == 3:        
#         x[idx] = 0
#     elif x[idx] == 7:
#         x[idx] = 0

    if x[idx] == 3 or x[idx] == 7:
        x[idx] = 0        
        
    
x

[2, 5, 0, 5, 8, 0, 4, 5, 0]

### 8번문제

In [49]:
x = int(input("숫자를 입력해주세요"))

if x > 10:
    print("10보다크다")
elif x < 10:
    print("10보다작다")

숫자를 입력해주세요9
10보다작다

### 9번,10번문제

In [55]:
x = int(input("점수를입력해주세요"))
y = int(input("점수를입력해주세요"))
z = int(input("점수를입력해주세요"))

avg = (x + y + z) / 3

if x < 30 or y < 30 or z < 30:
    print("불합격")
elif avg > 50:
    print("합격")
else:
    print("불합격")

점수를입력해주세요90
점수를입력해주세요40
점수를입력해주세요30
합격

### 11번문제

In [60]:
number_list = []

for i in range(10):
    x = int(input('값을입력해주세요'))
    
    if x == 0:
        number_list.append(x)
    elif x % 2 == 0:
        number_list.append('짝수')
    else:
        number_list.append('홀수')
        
number_list

값을입력해주세요1
값을입력해주세요2
값을입력해주세요78
값을입력해주세요6
값을입력해주세요4
값을입력해주세요6
값을입력해주세요8
값을입력해주세요3
값을입력해주세요0
값을입력해주세요5

['홀수', '짝수', '짝수', '짝수', '짝수', '짝수', '짝수', '홀수', 0, '홀수']

### 12번문제

In [64]:
students = []

for i in range(3):
    name = input("이름을입력해주세요")
    gender = input("성별을입력해주세요")
    age = input("나이를입려해주세요")

    student = {
        'name':name,
        'gender':gender,
        'age':age
    }
    
    students.append(student)

students

이름을입력해주세요이진범
성별을입력해주세요남
나이를입려해주세요80
이름을입력해주세요홍길동
성별을입력해주세요남
나이를입려해주세요40
이름을입력해주세요이몽룡
성별을입력해주세요남
나이를입려해주세요80

[{'name': '이진범', 'gender': '남', 'age': '80'},
 {'name': '홍길동', 'gender': '남', 'age': '40'},
 {'name': '이몽룡', 'gender': '남', 'age': '80'}]